body {
	font-size: 16px;
	font-family: 'Times New Roman', 'Microsoft YaHei', serif;
	word-break: break-all;
	background: #525659;
	display: block;
	margin: 8px;
}

header {
	position: fixed;
	background: #1A73E8;
	left: 0;
	top: 0;
	right: 0;
	margin: 0;
	height: 40px;
	box-shadow: 0 1px 1px #1A73d7;
	font-size: .18rem;
	color: #F1F1F1;
	z-index: 99;
}

header .top-title {
	line-height: 50px;
	display: block;
	text-align: center;
}

.resume {
	width: 100%;
	min-height: 2565px;
	background: #FFF;
	margin: 70px auto;
	position: relative;
}

.resume #top {
	width: 100%;
	height: 22px;
	background: steelblue;
	position: relative;
}

.resume #top span {
	position: absolute;
	left: 1rem;
	font-weight: bold;
	display: inline-block;
	background: white;
	font-size: 19px;
}

.header-box {
	width: 95%;
	margin: 45px auto 50px auto;
	display: flex;
	position: relative;
	font-size: .25rem;
}


.header-box img{
	width: 25%;
	height: 30%;
}

.header-box ul {
	list-style: none;
}

.header-box .header-left {
	position: absolute;
	top: -.4rem;
	left:1.5rem ;
	
}

.header-box .header-right {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	
}

/*个人信息*/

.person-info {
	width: 95%;
	height: 175px;
	margin: 2rem auto;
    position: relative;
    
}

.person-info .icon {
    background: url(../img/person_info_icon.png) no-repeat;
}

.icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    
}

.subtitle {
    position: absolute;
    left: 40px;
    font-size: .33rem;
    color: #1A73E8;
    font-weight: 600;
    top: 2px;
}

.long-line {
    position: absolute;
    display: block;
    width: 93%;
    height: 3px;
    top: 32px;
    left: 20px;
    background: #1A73E8;
} 

.detail-list  {
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	margin: 0 auto;
	font-size: .13rem;
    top: 44px;
}

.person-info .info-left{
	width: 135px;

}

.person-info .info-right{
	width: 159px;
	
}

/*技能*/
.pro-skill{
	width: 95%;
	height: 435px;
	position: relative;
	margin: -70px auto 30px auto;
}

.pro-skill .icon {
    background: url(../img/pro_skill_icon.png) no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
}

.pro-skill .detail-list ul{
	font-size: .25rem;
	font-weight: bold;
	width: 92%;
	margin:  0 auto;
	position: absolute;
	left: -28px;
}

/*工作经历*/
.work-experience{
	width: 95%;
	height: 240px;
	position: relative;
	margin: 55px auto 30px auto;
}

.work-experience .icon{
	background: url(../img/work_experience_icon.png) no-repeat;
	width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
}

.work-experience  .detail-list ul{
	font-weight: bold;
	list-style: none;
    line-height: 30px;
    position: absolute;
    left: -25px;
    top: -25px;
}

.work-experience  .detail-list ul li:nth-child(1){
	font-weight: 600 !important;
	font-size: .25rem;
	margin-left: -10px;

}

.work-experience  .detail-list ul li:nth-child(2){
	font-size: 13px;
	width: 99%;
	margin: 0 auto;

}

/*项目经验*/
.open-source{
    width: 95%;
    height: 240px;
    position: relative;
    margin: 100px auto 30px auto;
}

.open-source .icon{
	background: url(../img/work_experience_icon.png) no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
}

.open-source .detail-list ul {
    list-style: none;
    line-height: 30px;
    position: absolute;
    left: -24px;
    top: -25px;
}

#long-line01{
	width: 100%;
	position: absolute; 
	top: 215px;
	left: 1px;
	background: #1A73E8;
}

#long-line02{
	width: 100%;
	position: absolute; 
	top: 480px;
	left: 1px;
	background: #1A73E8;
}

/*#dis{
	position: absolute;
	top: 900px !important;
}*/

.open-source  .detail-list ul li:nth-child(1){
	font-weight: 600 !important;
	font-size: .25rem;
	/*padding-bottom: 1rem;*/

}

.open-source .detail-list ul li:nth-child(2){
	position: absolute;
	top: 55px;
	left: 20px;
	font-size: 13px;
	width: 90%;
	margin: 0 auto;

}

.xm1{
	position: absolute !important;
	top: -75px !important;
}

.xm2{
	position: absolute !important;
	top: 470px !important;
}

.xm3{
	position: absolute !important;
	top: 700px !important;
}

/*自我评价*/

.self-evaluation{
	width: 95%;
    height: 175px;
    /*background: salmon;*/
   position: absolute;
   bottom: 50px;
   /*left: 20px;*/
}

.self-evaluation .icon{
	background: url(../img/self_evaluation_icon.png) no-repeat;
}

.detail-lists{
	margin-left: 7px;
	/*line-height: 30px;*/
}


footer{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	background: steelblue;
}

